* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  background: rgb(232, 233, 235);
}

.title__items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 8px;
}

.hoverBtn:hover {
  cursor: pointer;
}

.title__itemMenu .hoverBtn:hover {
  background-color: rgba(240, 248, 255, 0.733);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.title__itemMenu .hoverBtn:hover + .title__itemsBtn {
  position: relative;
  top: 4px;
  left: 9px;
}

.title__item {
  margin-right: 24px;
}

.title__itemsBtn {
  border: none;
  background-color: transparent;
  font-size: 18px;
}

.title__item a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.title__myPage {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.title__itemMenu {
  margin-right: 12px;
}

.title__myPage span {
  background: black;
  color: white;
  position: relative;
  font-size: 17px;
  bottom: 26px;
}

.title__myPage i {
  font-size: 32px;
}

.title__logo {
  height: 162.4px;
  text-align: center;
}

.title__logo img {
  width: 272px;
  height: 92px;
  margin-top: 70.4px;
}

#searchBar {
  width: 447px;
  height: 44px;
  border: none;
  font-size: 16px;
}

#searchBar:focus {
  outline: none;
}

.search_item {
  border: 1px solid #292a2b;
  width: 584px;
  height: 46px;
  border-radius: 27px;
  margin: auto;
}

.search_item:hover {
  box-shadow: 1px 1px 3px 1px gray;
}

.search_item label {
  position: relative;
  right: 8px;
}

.search_item .keyMic {
  position: relative;
  left: 4px;
  top: 3px;
}

.search_item .fa-search {
  font-size: 15px;
  color: #9aa0a6;
}

.keyMic .fa-keyboard {
  margin-right: 16px;
}

.icons {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 16px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 112px;
  height: 112px;
}

.icon:hover {
  cursor: pointer;
  background-color: rgba(174, 180, 174, 0.534);
}

.icon_circle {
  width: 48px;
  height: 48px;
  border: 1px solid;
  border-radius: 50%;
  background-color: #292a2b;
}

.iconImg {
  width: 24px;
  height: 24px;
  background-color: transparent;
  position: relative;
  top: 10px;
  left: 10px;
}

.iconBtn {
  position: relative;
  left: 25px;
  bottom: 16px;
  height: 15px;
  font-size: 14px;
  border: none;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.icon.first:hover .iconBtn.first {
  opacity: 1;
}

.icon.second:hover .iconBtn.second {
  opacity: 1;
}

.iconTexts {
  background-color: whitesmoke;
  text-align: center;
  width: 104px;
  height: 42px;
  margin-top: 8px;
  border-radius: 14px;
}

.iconText {
  font-size: 16.25px;
  background-color: whitesmoke;
  vertical-align: -webkit-baseline-middle;
}
