* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

.title__items {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 8px;
}

.hoverBtn:hover {
  cursor: pointer;
}

.title__itemMenu .hoverBtn:hover {
  background-color: rgba(240, 248, 255, 0.733);
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.title__itemMenu .hoverBtn:hover + .title__itemsBtn {
  position: relative;
  top: 4px;
  left: 9px;
}

.title__item {
  margin-right: 24px;
}

.title__itemsBtn {
  border: none;
  background-color: transparent;
  font-size: 18px;
}

.title__item a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.title__myPage {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
}

.title__itemMenu {
  margin-right: 12px;
}

.title__myPage span {
  color: white;
  position: relative;
  font-size: 17px;
  bottom: 26px;
}

.title__myPage i {
  font-size: 32px;
}

.title__logo {
  height: 162.4px;
  text-align: center;
}

.title__logo img {
  width: 272px;
  height: 92px;
  margin-top: 70.4px;
}

#searchBar {
  width: 447px;
  height: 44px;
  border: none;
  font-size: 16px;
}

#searchBar:focus {
  outline: none;
}

.search_item {
  border: 1px solid #dfe1e5;
  width: 584px;
  height: 46px;
  border-radius: 27px;
  margin: auto;
}

.search_item:hover {
  box-shadow: 1px 1px 3px 1px gray;
}

.search_item label {
  position: relative;
  right: 8px;
}

.search_item .keyMic {
  position: relative;
  left: 4px;
  top: 3px;
}

.search_item .fa-search {
  font-size: 15px;
  color: #9aa0a6;
}

.keyMic .fa-keyboard {
  margin-right: 16px;
}
